#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*** HEADER ***/
header{
	padding: 20px;
	-webkit-clip-path: polygon(100% 0, 100% 18%, 30% 39%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 18%, 30% 39%, 0 100%, 0 0);
    background: #393939;
    min-height: 300px;
}
.logo-header{
	margin-left: 5%;
    margin-top: 2%;
}
.logo-header img{
	height: 150px
}



/**  BODY  **/
 body{ background: #dedede; }

.login-body .btn{
    margin-top: 16px;
    display: block;
}

.deconnexion{
    background: #ff8e00;
        overflow: auto;
    display: inline-block;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 15%
}

 .content-body { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
 .content-body h1 { color: #007294; border-bottom: 6px solid #ff8e00; }
 @media all and (max-width: 1366px){  .content-body{ max-width: 900px } }

 .remarged-body-h{ margin-top: -100px }

 .disclaimer{ margin:0 auto;max-width: 1000px; width: 95%;padding: 10px; border: 2px solid #007294; background: rgba(255, 142, 0, 0.2); text-align: center; margin-top: 32px}
 .disclaimer p{font-family: 'Open Sans';}

/** FOOTER **/
footer{ padding: 20px ; background: #ff8e00;}
.footer-wrap{text-align: center;}
.footer-wrap p { font: 18px/1.5 sans-serif; color: #007294 ; margin : 0 ; }


/** PAGE TUTORIELS **/
.body-tuto{
    position: relative;
}
.retourbtn{
    position: fixed;
    left: 0;
    background: #ff8e00;
    padding: 16px 18px;
    height: 32px;
}
.date-publication{
    position: absolute;
    top: 0;
    right: 0;
}
.nextprevtuto{
    border-top: 2px solid #f9f9f9;
    margin-top: 10px;
}
.prevtuto,.nexttuto{
     width: 49%;
    display: inline-block;
}
.prevtuto p,.nexttuto p{
    text-align: center;
}